name: Deploy Grafana

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Set environment variables
        run: |
          echo "GCP_SERVICE_ACCOUNT_KEY=$(echo ${{ var.GCP_SERVICE_ACCOUNT_KEY }} | base64 -d)" >> $GITHUB_ENV

      # Set up Google Cloud authentication using service account credentials
      - name: Set up Google Cloud authentication
        uses: google-github-actions/setup-gcloud@v2
        with:
          service_account_key: ${{ secrets.GCP_SERVICE_ACCOUNT_KEY }}
          project_id: ${{ secrets.GCP_PROJECT_ID }}

      # Initialize Terraform
      - name: Initialize Terraform
        run: |
          terraform init 

      # Apply Terraform configuration (consider using `terraform plan` for a dry run first)
      - name: Apply Terraform configuration
        run: terraform apply -auto-approve

# Optional: Add a cleanup step to remove the deployment on workflow failure or manual cancellation
# - name: Clean up deployment (optional)
#   if: ${{ failure() || cancelled() }}
#   steps:
#     - name: Destroy Terraform resources
#       run: terraform destroy -auto-approve
